@font-face {
    font-family: Swamp;
    src: url(Swamp\ Witch.ttf);
  }
body {
    background: linear-gradient(#0C0D0F, #555851, #96BFAF);
    margin: 0;
}
header {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: Swamp;
  font-size: 7em;
  text-shadow: 10px 10px red, -10px -10px 3px red;
}
.introducao_pg2 {
  font-family: -Roboto, sans-serif;
  font-size: 1.1em;
  margin: 3.2em;
  padding: 1em;
  border: 2px solid red;
  border-style: outset;
  border-radius: 1em;
  line-height: 1.5em;
  color: #1C0B04;
  letter-spacing: 1px;
}
footer p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}