/* Estilização para Desktop */

/* Fontes Externas Utilizadas no Projeto */
@font-face {
  font-family: Swamp;
  src: url(fontes/Swamp\ Witch.ttf);
}
@font-face {
  font-family: Monster Party;
  src: url(fontes/MONSP___.TTF);
}
@font-face {
  font-family: Satanic;
  src: url(fontes/Satanyc\ Demoniac\ St.ttf);
}

/* Estilização do corpo Principal do Projeto*/
body {
  background: linear-gradient(#0C0D0F, #555851, #96BFAF);
  margin: 0;
}
header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 3em;
}
.fonte_imagem {
font-family: Monster Party;
font-size: 5em;
margin: 0;
text-shadow: -2px -2px 1px whitesmoke;
}
.frase_inicial {
font-size: 1em;
font-family: Satanic;
margin: 0;
text-shadow: -10px -10px 1.5px red, 10px 10px 1.5px white;
font-weight: bold;

}
main {
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
}
h1 {
font-family: Swamp;
font-size: 7em;
text-shadow: 10px 10px red, -10px -10px 3px red;
letter-spacing: 5px;
}
.botao {
background-image: url(imagens/bg_botao_index.gif);
background-size: 15em;
border: 10px #EB9757;
border-style: outset;
padding: 50px;
font-size: 1em;
text-decoration: none;
color: red;

}
section {
display: flex;
flex-direction: column;
align-items: center;
}
.botao:active {
border-style: inset;
}
footer p {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
margin-top: 3em;
}
/* Estilização Responsiva */
@media 
(max-width: 480px) {
  body {
    border: 3px solid white;
  }
  header {
    margin-top: 0;
  }
  .frase_inicial {
    color: white;
    text-shadow: 5px 5px 5px red, -5px -5px 5px black;
    text-align: center;
    margin: 10px;
  }
  h1 {
    text-align: center;
    margin: 15px 50px 15px 50px ;
    font-size: 6em;
  }
  .botao {
    padding: 30px;
  }
  footer p {
    margin-top: 5px;
  }
}