@font-face {
    font-family: Swamp;
    src: url(/fontes/Swamp\ Witch.ttf);
  }
  @font-face {
    font-family: Monster Party;
    src: url(fontes/MONSP___.TTF);
  }
  @font-face {
    font-family: Satanic;
    src: url(fontes/Satanyc\ Demoniac\ St.ttf);
  }

  body {
    background: linear-gradient(#0C0D0F, #555851, #96BFAF);
    margin: 0;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.fonte_imagem {
  font-family: Monster Party;
  font-size: 5em;
  margin: 0;
  text-shadow: -2px -2px 1px whitesmoke;
}
.frase_inicial {
  font-size: 1em;
  font-family: Satanic;
  margin: 0;
  text-shadow: -10px -10px 1.5px red, 10px 10px 1.5px white;
  font-weight: bolder;
  
}
main {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1 {
  font-family: Swamp;
  font-size: 7em;
  text-shadow: 10px 10px red, -10px -10px 3px red;
}
.botao {
  background-image: url(imagens/bg_botao_index.gif);
  background-size: 15em;
  border: 10px #EB9757;
  border-style: outset;
  padding: 50px;
  font-size: 1em;
  text-decoration: none;
  color: red;
  
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botao:active {
  border-style: inset;
}
footer p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}