@font-face {
    font-family: Swamp;
    src: url(Swamp\ Witch.ttf);
  }
  @font-face {
    font-family: Monster Party;
    src: url(MONSP___.TTF);
  }
  @font-face {
    font-family: Satanic;
    src: url(Satanyc\ Demoniac\ St.ttf);
  }

  body {
    background: linear-gradient(#0C0D0F, #555851, #96BFAF);
    height: 100vh;
    margin: 0;
}
main {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.frase_inicial {
  font-size: 1em;
  font-family: Satanic;
  margin: 0;
  text-shadow: -10px -10px 3px red, 10px 10px 3px white;
  font-weight: bold;
  
}
.fonte_imagem {
  font-family: Monster Party;
  font-size: 5em;
  margin: 0;
  text-shadow: -2px -2px 1px red;
}
h1 {
  font-family: Swamp;
  font-size: 7em;
  text-shadow: 10px 10px red, -10px -10px 3px red;
}
.botao {
  background-image: url(botao_pg1.gif);
  background-size: 15em;
  padding: 60px;
  font-size: 0.5em;
  text-decoration: none;
  color: yellow;
  margin-top: 5em;
}
