@font-face {
    font-family: Swamp;
    src: url(Swamp\ Witch.ttf);
}
@font-face {
    font-family: Satanica;
    src: url(Satanyc\ Demoniac\ St.ttf);
}
body {
    background: linear-gradient(#0C0D0F, #555851, #96BFAF);
    margin: 0;
}
header {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: Swamp;
  font-size: 4em;
  text-shadow: 10px 10px red, -10px -10px 3px red;
  text-align: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid white;
}
.judy {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 0;
}
figcaption {
    text-align: center;
    font-size: large;
    font-family: Satanica;
    padding-bottom: 15px;
    font-weight: bold;
}
button {
    margin: 0.5em;
   padding: 10px;
   border: 2px dotted red;
   font-family: Satanica;
   font-weight: bold;
   font-size: 15px;    
   background: linear-gradient(#0C0D0F, #555851, #96BFAF);
   color: white;
   
}
p {
    line-height: 1.5em;
    font-size: 17px;

}
img {
    width: 20em;
    height: 20em;
}
footer {
    text-align: center;
    margin: 0;
}
footer p {
    margin: 0;
}