/* Fontes Externas Utilizadas no Projeto */
@font-face {
    font-family: Swamp;
    src: url(Swamp\ Witch.ttf);
}
@font-face {
    font-family: Satanica;
    src: url(Satanyc\ Demoniac\ St.ttf);
}
/* Estilização do Corpo Principal do Projeto */
body {
    background: linear-gradient(#0C0D0F, #555851, #96BFAF);
    margin: 0;
}
header {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: Swamp;
  font-size: 5em;
  text-shadow: 10px 10px red, -10px -10px 3px red;
  text-align: center;
  letter-spacing: 5px;
}
figure {
    display: flex;
    justify-content: center;
}
img {
    width: 20em;
    height: 20em;
    margin: 0.5em;
}
p:not(footer p) {
    text-align: center;
    font-size: 1em;
    font-family: Satanica;
    font-weight: bold;
    margin: 0 3.5em 0 3.5em;
    padding: 1em;
    border: 2px solid white;
    border-radius: 40px 0 40px 0;
}
button {
   margin: 0.8em;
   padding: 10px;
   border: 2px dotted red;
   font-family: Satanica;
   font-weight: bold;
   font-size: 15px;    
   background: linear-gradient(#0C0D0F, #555851, #96BFAF);
   color: white;
   
}
button:hover {
    cursor: pointer;
}
footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Estilização Responsiva */
@media 
(max-width: 480px) {
  body {
    border: 3px solid white;
  }
  header {
    margin-top: 0;
  }
  h1 {
    font-size: 5em;
    letter-spacing: 10px;
    text-align: center;
    margin: 30px 50px 30px 50px ;
    word-spacing: 5px;
  }
  
}