@font-face {
    font-family: Norse;
    src: url(norsebold-webfont.woff);
}
body {
    background-image: url(../imagens/foto1_vitoria.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;
}
main button a {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: Norse;
    font-size: 5em;
    border: 5px solid black;
    background: white;
    background: linear-gradient(90deg, #1C0B04, #F39953, #1D0F06);
    color: white;
    padding: 20px;
}
p:not(footer p) {
    font-family: Norse;
    font-size: 50px;
    border: 5px solid black;
    background: white;
    background: linear-gradient(90deg, #1C0B04, #F39953, #1D0F06);
    color: white;
    padding: 15px;
}
button {
    padding: 13px;
    border: 2px dotted red;
    font-family: Satanica;
    font-weight: bold;
    font-size: 15px;    
    background: linear-gradient(#0C0D0F, #555851, #96BFAF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: ;
}
button:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
footer p {
    text-align: center;
}